//width & height
$header-h: 6rem;

//colors
$logo-title-color: #F1CDB3;
$logo-subtitle-color: #FFFFFF;

//fonts
$logo-title-ff: Georgia, serif;
$logo-title-fz: 3.2rem;
$logo-title-fw: 400;
$logo-subtitle-ff: Arial, sans-serif;
$logo-subtitle-fz: 1.3rem;
$logo-subtitle-fw: 400;

//letter-spacing & line-height
$logo-title-ls: 0.2rem;
$logo-subtitle-ls: 0.1rem;