//width & height
$menu-w: 44.3rem;

//padding & margin
$logo-subtitle-p: 0.9rem 0 0 0.45rem;

//colors
$logo-title-color: #F1CDB3;
$logo-subtitle-color: #FFFFFF;

$menu-link-color: #CDCDCD;
$menu-link-color-h: #FFFFFF;
$menu-link-color-active: #FFFFFF;

//fonts
$logo-title-ff: Georgia, serif;
$logo-title-fz: 3.2rem;
$logo-title-fw: 400;
$logo-subtitle-ff: Arial, sans-serif;
$logo-subtitle-fz: 1.3rem;
$logo-subtitle-fw: 400;

$menu-link-ff: Arial, sans-serif;
$menu-link-fz: 1.5rem;
$menu-link-fw: 400;

//letter-spacing & line-height
$logo-title-ls: 0.2rem;
$logo-subtitle-ls: 0.13rem;

$menu-link-lh: 2.2rem;

//borders & outline
$menu-link-bb-active: 0.3rem solid #F1CDB3;