*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body, ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.wrapper {
  max-width: 128rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: absolute;
  top: 6rem;
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo .logo__title {
  color: #F1CDB3;
  font-family: Georgia, serif;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.logo .logo__subtitle {
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.9rem 0 0 0.45rem;
  letter-spacing: 0.13rem;
}

.menu {
  width: 44.3rem;
}

.menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.menu .menu__link {
  display: block;
  color: #CDCDCD;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.2rem;
}

.menu .menu__link:hover {
  color: #FFFFFF;
}

.menu .menu__link-active,
.menu .menu__link:active,
.menu .menu__link:focus {
  color: #FFFFFF;
  border-bottom: 0.3rem solid #F1CDB3;
}

.main-page {
  width: 100%;
  max-height: 90.8rem;
  background: url(../../assets/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.main-page .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page .main-page__content {
  margin: 9.8rem 4.2rem 0 0;
  height: 32.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-page .main-page__content .main-page__caption {
  max-width: 31rem;
  color: #FFFFFF;
  font-family: Georgia, serif;
  font-size: 4.4rem;
  font-weight: 400;
  line-height: 5.7rem;
}

.main-page .main-page__content .main-page__text {
  max-width: 46rem;
  color: #CDCDCD;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.main-page .main-page__content .main-page__button {
  width: 20.7rem;
  height: 5.2rem;
  background: #F1CDB3;
  border-radius: 3rem;
}

.main-page .main-page__content .main-page__button .main-page__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #292929;
  font-family: Georgia, serif;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 5.1rem;
  text-align: center;
}

.main-page .main-page__content .main-page__button:hover {
  background: #FDDCC4;
}

.main-page .main-page__part {
  margin: 18rem 0 0 0;
}

.about {
  width: 100%;
  max-height: 58.8rem;
  background: #FFFFFF;
}

.about .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about__pets {
  margin: 8rem 12rem 9.8rem 0;
}

.about .about__content {
  height: 38rem;
  margin: 9.5rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about__content .about__caption {
  max-width: 37rem;
  color: #545454;
  font-family: Georgia, serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4.5rem;
  letter-spacing: 0.21rem;
}

.about .about__content .about__text {
  max-width: 43rem;
  color: #4C4C4C;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.friends {
  padding: 8.2rem 0 10rem 0;
  width: 100%;
  max-height: 87.7rem;
  background: #F6F6F6;
}

.friends .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.friends__caption {
  max-width: 40rem;
  color: #545454;
  font-family: Georgia, serif;
  font-size: 3.5rem;
  font-weight: 400;
  text-align: center;
  line-height: 4.4rem;
  letter-spacing: 0.21rem;
}

.friends__caption span {
  display: block;
}

.friends .friends__slider {
  max-width: 100%;
  max-height: 43.5rem;
  margin: 6rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.friends .friends__slider .friends__arrow {
  max-width: 5.2rem;
  max-height: 5.2rem;
  border: 0.2rem solid #F1CDB3;
  border-radius: 50%;
  padding: 1.4rem 1.6rem 1.8rem 1.6rem;
  background: none;
}

.friends .friends__slider .friends__arrow:hover {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

.friends .friends__slider .friends__arrow-left {
  padding-top: 1.6rem;
}

.friends .friends__slider .friends__arrow-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.friends .friends__slider .pets {
  max-width: 99rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5.4rem;
}

.friends .friends__slider .pets__card {
  max-width: 27rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 3rem 0;
  background: #FAFAFA;
}

.friends .friends__slider .pets__card:hover {
  cursor: pointer;
  background: #FFFFFF;
}

.friends .friends__slider .pets__card:nth-child(2n) {
  margin: 0 9rem;
}

.friends .friends__slider .pets__photo {
  width: 27rem;
  height: 27rem;
}

.friends .friends__slider .pets__image {
  width: 100%;
  height: 100%;
}

.friends .friends__slider .pets__name {
  color: #545454;
  font-family: Georgia, serif;
  font-size: 2rem;
  font-weight: 400;
  margin: 3rem 0;
  letter-spacing: 0.1rem;
}

.friends .friends__slider .pets__button {
  width: 18.7rem;
  height: 5.2rem;
  border-radius: 3rem;
  border: 2px solid #F1CDB3;
}

.friends .friends__slider .pets__button:hover {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

.friends .friends__slider .pets__button .pets__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #292929;
  font-family: Georgia, serif;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 5.1rem;
  text-align: center;
}

.friends__button {
  width: 26.1rem;
  height: 5.2rem;
  margin: 6.1rem 0;
  border-radius: 3rem;
  background: #F1CDB3;
}

.friends__button:hover {
  background: #FDDCC4;
}

.friends__button .friends__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #292929;
  font-family: Georgia, serif;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 5.1rem;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */