@import "./constants.scss", "./clear.scss";

.wrapper {
  max-width: 128rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: absolute;
  top: 6rem;
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  
  .logo__title {
    color: $logo-title-color;
    font-family: $logo-title-ff;
    font-size: $logo-title-fz;
    font-weight: $logo-title-fw;
    letter-spacing: $logo-title-ls;
  }
  .logo__subtitle {
    padding: $logo-subtitle-p;
    color: $logo-subtitle-color;
    font-family: $logo-subtitle-ff;
    font-size: $logo-subtitle-fz;
    font-weight: $logo-subtitle-fw;
    letter-spacing: $logo-subtitle-ls;
  }
}

.menu {
  width: $menu-w;
  .menu__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .menu__link {
    display: block;
    color: $menu-link-color;
    font-family: $menu-link-ff;
    font-size: $menu-link-fz;
    font-weight: $menu-link-fw;
    line-height: $menu-link-lh;
    &:hover {
      color: $menu-link-color-h;
    }
  }
  .menu__link-active {
    color: $menu-link-color-active;
    border-bottom: $menu-link-bb-active;
  }
}

.main {
  width: 100%;
}

.main-page {
  width: 100%;
  height: 90.8rem;
  background: url(../../assets/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}