@import "./constants.scss", "./mixins.scss", "./clear.scss";

.wrapper {
  max-width: 128rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: absolute;
  top: 6rem;
  
  .wrapper {
    @include flex($content: space-between);
  }
}

.logo {
  display: flex;
  flex-direction: column;
  
  .logo__title {
    @include caption($color: $primary, $fz: 3.2rem);
    letter-spacing: 0.2rem;
  }
  .logo__subtitle {
    @include text($color: $light, $fz: 1.3rem);
    padding: 0.9rem 0 0 0.45rem;
    letter-spacing: 0.13rem;
  }
}

.menu {
  width: 44.3rem;
  .menu__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .menu__link {
    display: block;
    @include text($color: $dark-s, $fz: 1.5rem);
    line-height: 2.2rem;

    &:hover {
      color: $light;
    }
  }
  .menu__link-active,
  .menu__link:active,
  .menu__link:focus {
    color: $light;
    border-bottom: 0.3rem solid $primary;
  }
}

.main-page {
  @include main-block($max-height: 90.8rem, $bg: $main-page-bg);

  .wrapper {
    height: 100%;
    @include flex;
  }

  .main-page__content {
    margin: 9.8rem 4.2rem 0 0;
    height: 32.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
      .main-page__caption {
        max-width: 31rem;
        @include caption($color: $light, $fz: 4.4rem);
        line-height: 5.7rem;
      }
      .main-page__text {
        max-width: 46rem;
        @include text($color: $dark-s, $fz: 1.5rem);
        line-height: 2.4rem;
      }
      .main-page__button {
        @include button($width: 20.7rem, $bg: $primary);
        .main-page__link {
          @include button-link;
          @include caption($color: $dark, $fz: 1.7rem);
        }
        &:hover {
          background: $primary-l;
        }
      }
  }

  .main-page__part {
    margin: 18rem 0 0 0;
  }
}

.about {
  @include main-block($max-height: 58.8rem, $bg: $light);

  .wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
  }
  
  .about__pets {
    margin: 8rem 12rem 9.8rem 0;
  }

  .about__content {
    height: 38rem;
    margin: 9.5rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .about__caption {
      max-width: 37rem;
      @include caption($color: $dark-l, $fz: 3.5rem);
      line-height: 4.5rem;
      letter-spacing: 0.21rem;
    }
    .about__text {
      max-width: 43rem;
      @include text($color: $dark-xl, $fz: 1.5rem);
      line-height: 2.4rem;
    }
  }
}

.friends {
  @include main-block($max-height: 87.7rem, $bg: $light-l);

  .wrapper {
    padding: 8.2rem 0 10rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__caption {
    max-width: 40rem;
    @include caption($color: $dark-l, $fz: 3.5rem);
    text-align: center;
    line-height: 4.4rem;
    letter-spacing: 0.21rem;
    
    span {
      display: block;
    }
  }
  .friends__slider {
    max-width: 100%;
    max-height: 43.5rem;
    margin: 6rem 0 0 0;
    @include flex($content: space-between);
    
    .friends__arrow {
      max-width: 5.2rem;
      max-height: 5.2rem;
      @include arrow($primary);
      &:hover {
        background: $primary-l;
        border-color: $primary-l;
      }
    }
    .friends__arrow-left {
      padding-top: 1.6rem;
    }
    .friends__arrow-right {
      transform: rotate(180deg);
    }
    
    .pets {
      max-width: 99rem;
      margin: 0 5.4rem;
      @include flex($content: space-between);
      
      &__card {
        max-width: 27rem;
        padding: 0 0 3rem 0;
        @include flex;
        flex-direction: column;
        background: $light-s;
        &:hover {
          cursor: pointer;
          background: $light;
        }
      }
      &__card:nth-child(2n) {
        margin: 0 9rem;
      }
      &__photo {
        width: 27rem;
        height: 27rem;
      }
      &__image {
        width: 100%;
        height: 100%;
      }
      &__name {
        @include caption($color: $dark-l, $fz: 2rem);
        margin: 3rem 0;
        letter-spacing: 0.1rem;
      }
      
      &__button {
        @include button($width: 18.7rem);
        border: 2px solid $primary;
        &:hover {
          background: $primary-l;
          border-color: $primary-l;
        }
        .pets__link {
          @include button-link;
          @include caption($color: $dark, $fz: 1.7rem);
        }
      }
    }
  }
  &__button {
    margin: 6.1rem 0;
    @include button($width: 26.1rem, $bg: $primary);
    &:hover {
      background: $primary-l;
    }
    .friends__link {
      @include button-link;
      @include caption($color: $dark, $fz: 1.7rem);
    }
  }
}

.help {
  @include main-block($max-height: 61.1rem, $bg: $light);

  .wrapper {
    padding: 8rem 0 4.1rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__caption {
    max-width: 31rem;
    @include caption($color: $dark-l, $fz: 3.5rem);
    text-align: center;
    line-height: 4.4rem;
    letter-spacing: 0.21rem;
    
    span {
      display: block;
    }
  }
  &__list {
    max-width: 100%;
    height: 34rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 6.2rem 0 0 0;

    .help__item {
      height: 11.1rem;
      display: flex;
      align-items:center;
      flex-direction: column;
      justify-content: space-between;
      &:first-child {
        margin-left: 13rem;
      }
      &:nth-child(2n) {
        margin: 0 12rem;
      }
      &:nth-child(6) {
        margin-left: 21.1rem;
      }
      &:nth-child(8) {
        margin-left: 12.5rem;
      }

      .help__image {
        display: block;
      }
      .help__title {
        @include caption($color: $dark-l, $fz: 2rem);
        letter-spacing: 0.105rem;
      }
    }
  }
}

.donation {
  @include main-block($max-height: 46.4rem, $bg: $light-l);

  .wrapper {
    padding: 8rem 0 10rem 0;
    display: flex;
    justify-content: center;
  }
  &__pets {
    margin: 1.2rem 3.1rem 0 0;
  }
  &__content {
    margin: 0.4rem 0 0 0;
    display: flex;
    flex-direction: column;

    .donation__caption {
      max-width: 30rem;
      @include caption($color: $dark-l, $fz: 3.5rem);
      line-height: 4.38rem;
      letter-spacing: 0.2rem;
    }
    .donation__subcaption {
      max-width: 31rem;
      margin: 2rem 0;
      @include caption($color: $dark-l, $fz: 1.5rem);
      letter-spacing: 0.086rem;
    }
    .card {
      max-width: 34.9rem;
      max-height: 4.3rem;
      padding: 1rem 1.4rem;
      display: flex;
      position: relative;
      background: $primary;
      border-radius: 0.9rem;
      &:hover {
        background: $primary-l;
      }

      &__number {
        margin-left: 1.5rem;
        @include caption($color: $dark-l, $fz: 2rem);
        letter-spacing: 0.12rem;
      }
      &__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .donation__info {
      max-width: 38rem;
      margin-top: 2.2rem;
      @include text($color: $dark-m, $fz: 1.2rem);
      font-style: italic;
      line-height: 1.8rem;
    }
  }
}
