*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body, ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.wrapper {
  max-width: 128rem;
  padding: 0 4rem;
  margin: 0 auto;
}

@media (max-width: 1279px) {
  .wrapper {
    max-width: 127.9rem;
    padding: 0 3rem;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body, ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.header {
  width: 100%;
  position: absolute;
  top: 6rem;
}

@media (max-width: 1279px) {
  .header {
    top: 3rem;
  }
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .logo .logo__title {
  color: #F1CDB3;
  font-family: Georgia, serif;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.header .logo .logo__subtitle {
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.9rem 0 0 0.45rem;
  letter-spacing: 0.13rem;
}

.header .menu {
  width: 44.3rem;
}

.header .menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header .menu .menu__link {
  display: block;
  color: #CDCDCD;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.2rem;
}

.header .menu .menu__link:hover {
  color: #FFFFFF;
}

.header .menu .menu__link-active,
.header .menu .menu__link:active,
.header .menu .menu__link:focus {
  color: #FFFFFF;
  border-bottom: 0.3rem solid #F1CDB3;
}

.main-page {
  width: 100%;
  max-height: 90.8rem;
  background: url(../../assets/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

@media (max-width: 1279px) {
  .main-page {
    max-height: 116.5rem;
  }
}

.main-page .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1279px) {
  .main-page .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-page .main-page__content {
  margin: 9.8rem 4.2rem 0 0;
  height: 32.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-page .main-page__content .main-page__caption {
  max-width: 31rem;
  color: #FFFFFF;
  font-family: Georgia, serif;
  font-size: 4.4rem;
  font-weight: 400;
  line-height: 5.7rem;
}

.main-page .main-page__content .main-page__text {
  max-width: 46rem;
  color: #CDCDCD;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.main-page .main-page__content .main-page__button {
  width: 20.7rem;
  height: 5.2rem;
  background: #F1CDB3;
  border-radius: 3rem;
  display: block;
  letter-spacing: 0.1rem;
  line-height: 5.1rem;
  text-align: center;
  color: #292929;
  font-family: Georgia, serif;
  font-size: 1.7rem;
  font-weight: 400;
}

.main-page .main-page__content .main-page__button:hover {
  background: #FDDCC4;
}

@media (max-width: 1279px) {
  .main-page .main-page__content .main-page__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 1279px) {
  .main-page .main-page__content {
    margin: 15rem 0 0 0;
  }
}

.main-page .main-page__part {
  margin: 18rem 0 0 0;
}

.main-page .main-page__part .main-page__image {
  width: 100%;
  height: 100%;
}

@media (max-width: 1279px) {
  .main-page .main-page__part {
    max-width: 56.9rem;
    max-height: 59.4rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 10rem 0 0 0;
  }
}

.about {
  width: 100%;
  max-height: 58.8rem;
  background: #FFFFFF;
}

.about .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about__pets {
  margin: 8rem 12rem 9.8rem 0;
}

.about .about__content {
  height: 38rem;
  margin: 9.5rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about__content .about__caption {
  max-width: 37rem;
  color: #545454;
  font-family: Georgia, serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4.5rem;
  letter-spacing: 0.21rem;
}

.about .about__content .about__text {
  max-width: 43rem;
  color: #4C4C4C;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.pets {
  width: 100%;
  max-height: 87.7rem;
  background: #F6F6F6;
}

.pets .wrapper {
  padding: 8.2rem 0 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pets__caption {
  max-width: 40rem;
  color: #545454;
  font-family: Georgia, serif;
  font-size: 3.5rem;
  font-weight: 400;
  text-align: center;
  line-height: 4.4rem;
  letter-spacing: 0.21rem;
}

.pets__caption span {
  display: block;
}

.pets .slider {
  max-width: 100%;
  max-height: 43.5rem;
  margin: 6rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets .slider__arrow {
  max-width: 5.2rem;
  max-height: 5.2rem;
  border: 0.2rem solid #F1CDB3;
  border-radius: 50%;
  padding: 1.4rem 1.6rem 1.8rem 1.6rem;
  background: none;
}

.pets .slider__arrow:hover {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

.pets .slider__arrow-left {
  padding-top: 1.6rem;
}

.pets .slider__arrow-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pets .slider__content {
  max-width: 99rem;
  margin: 0 5.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets .slider__content .slider__card {
  max-width: 27rem;
  padding: 0 0 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FAFAFA;
  border-radius: 0.9rem;
}

.pets .slider__content .slider__card:hover {
  cursor: pointer;
  background: #FFFFFF;
}

.pets .slider__content .slider__card:nth-child(2n) {
  margin: 0 9rem;
}

.pets .slider__content .slider__photo {
  width: 27rem;
  height: 27rem;
}

.pets .slider__content .slider__image {
  width: 100%;
  height: 100%;
}

.pets .slider__content .slider__name {
  color: #545454;
  font-family: Georgia, serif;
  font-size: 2rem;
  font-weight: 400;
  margin: 3rem 0;
  letter-spacing: 0.1rem;
}

.pets .slider__content .slider__button {
  width: 18.7rem;
  height: 5.2rem;
  background: none;
  border-radius: 3rem;
  display: block;
  letter-spacing: 0.1rem;
  line-height: 5.1rem;
  text-align: center;
  color: #292929;
  font-family: Georgia, serif;
  font-size: 1.7rem;
  font-weight: 400;
  border: 2px solid #F1CDB3;
}

.pets .slider__content .slider__button:hover {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

.pets__button {
  margin: 6.1rem 0;
  width: 26.1rem;
  height: 5.2rem;
  background: #F1CDB3;
  border-radius: 3rem;
  display: block;
  letter-spacing: 0.1rem;
  line-height: 5.1rem;
  text-align: center;
  color: #292929;
  font-family: Georgia, serif;
  font-size: 1.7rem;
  font-weight: 400;
}

.pets__button:hover {
  background: #FDDCC4;
}

.help {
  width: 100%;
  max-height: 61.1rem;
  background: #FFFFFF;
}

.help .wrapper {
  padding: 8rem 0 4.1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.help__caption {
  max-width: 31rem;
  color: #545454;
  font-family: Georgia, serif;
  font-size: 3.5rem;
  font-weight: 400;
  text-align: center;
  line-height: 4.4rem;
  letter-spacing: 0.21rem;
}

.help__caption span {
  display: block;
}

.help__list {
  max-width: 100%;
  margin: 6.2rem auto;
  height: 34rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help__list .help__item {
  height: 11.1rem;
  padding: 0 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help__list .help__item .help__image {
  display: block;
}

.help__list .help__item .help__title {
  color: #545454;
  font-family: Georgia, serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.109rem;
}

.donation {
  width: 100%;
  max-height: 46.4rem;
  background: #F6F6F6;
}

.donation .wrapper {
  padding: 8rem 0 10.1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.donation__pets {
  margin: 1.2rem 3.1rem 0 0;
}

.donation__content {
  margin: 0.4rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.donation__content .donation__caption {
  max-width: 30rem;
  color: #545454;
  font-family: Georgia, serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4.38rem;
  letter-spacing: 0.2rem;
}

.donation__content .donation__subcaption {
  max-width: 31rem;
  margin: 2rem 0;
  color: #545454;
  font-family: Georgia, serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.086rem;
}

.donation__content .donation__card {
  max-width: 34.9rem;
  max-height: 4.3rem;
  padding: 1rem 1.4rem 1rem 5.9rem;
  display: block;
  position: relative;
  color: #545454;
  font-family: Georgia, serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.12rem;
  background: #F1CDB3;
  border-radius: 0.9rem;
}

.donation__content .donation__card::before {
  content: url(../../assets/images/donation/credit-card.svg);
  position: absolute;
  top: 1.1rem;
  left: 1.4rem;
}

.donation__content .donation__card:hover {
  background: #FDDCC4;
}

.donation__content .donation__info {
  max-width: 38rem;
  margin-top: 2.2rem;
  color: #B2B2B2;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.8rem;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body, ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.footer {
  width: 100%;
  max-height: 35rem;
  background: url(../../assets/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  padding: 3.8rem 0;
}

.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .contacts,
.footer .location {
  max-width: 30rem;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .contacts__caption,
.footer .location__caption {
  color: #FFFFFF;
  font-family: Georgia, serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4.4rem;
  letter-spacing: 0.21rem;
}

.footer .contacts__email, .footer .contacts__phone, .footer .contacts__boston, .footer .contacts__london,
.footer .location__email,
.footer .location__phone,
.footer .location__boston,
.footer .location__london {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #F1CDB3;
  font-family: Georgia, serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.12rem;
}

.footer .contacts__email::before, .footer .contacts__phone::before, .footer .contacts__boston::before, .footer .contacts__london::before,
.footer .location__email::before,
.footer .location__phone::before,
.footer .location__boston::before,
.footer .location__london::before {
  margin-right: 2rem;
}

.footer .contacts__email:hover, .footer .contacts__phone:hover, .footer .contacts__boston:hover, .footer .contacts__london:hover,
.footer .location__email:hover,
.footer .location__phone:hover,
.footer .location__boston:hover,
.footer .location__london:hover {
  color: #FDDCC4;
}

.footer .contacts__email,
.footer .location__email {
  margin: 4.4rem 0 3.7rem 0;
  line-height: 2.6rem;
}

.footer .contacts__email::before,
.footer .location__email::before {
  content: url(../../assets/images/footer/mail.svg);
}

.footer .contacts__phone,
.footer .location__phone {
  line-height: 3rem;
}

.footer .contacts__phone::before,
.footer .location__phone::before {
  content: url(../../assets/images/footer/phone.svg);
}

.footer .contacts__boston,
.footer .location__boston {
  margin: 3.5rem 0 3.8rem 0;
}

.footer .contacts__boston::before,
.footer .location__boston::before {
  content: url(../../assets/images/footer/pin.svg);
  margin: 0.5rem 2rem 0 -0.1rem;
}

.footer .contacts__london::before,
.footer .location__london::before {
  content: url(../../assets/images/footer/pin.svg);
  margin: -0.5rem 2rem 0 -0.1rem;
}

.footer__image {
  max-width: 32rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 2rem;
}
/*# sourceMappingURL=main.css.map */