@import "./constants.scss", "./clear.scss";

.wrapper {
  max-width: 128rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: $header-h;
  position: absolute;
  top: 6rem;
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  
  .logo__title {
    color: $logo-title-color;
    font-family: $logo-title-ff;
    font-size: $logo-title-fz;
    font-weight: $logo-title-fw;
    letter-spacing: $logo-title-ls;
  }
  .logo__subtitle {
    color: $logo-subtitle-color;
    font-family: $logo-subtitle-ff;
    font-size: $logo-subtitle-fz;
    font-weight: $logo-subtitle-fw;
    letter-spacing: $logo-subtitle-ls;
  }
}

.menu {
  height: $menu-h;
  padding: $menu-p;
  .menu__list {
    display: flex;
    justify-content: center;
  }
  .menu__item {
    padding: $menu-item-p;
    &:first-child {
      padding-left: $menu-item-pl1;
    }
    &:nth-child(2) {
      padding: $menu-item-p2;
    }
    &:nth-child(3) {
      padding-right: $menu-item-pr3;
    }
    &:nth-child(4) {
      padding-right: $menu-item-pr4;
    }
  }
  .menu__link {
    color: $menu-link-color;
    font-family: $menu-link-ff;
    font-size: $menu-link-fz;
    font-weight: $menu-link-fw;
    line-height: $menu-link-lh;
    &:hover {
      color: $menu-link-color-h;
    }
  }
  .menu__link-active {
    color: $menu-link-color-active;
    border-bottom: $menu-link-bb-active;
    line-height: $menu-link-active-lh;
  }
}
