*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body, ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.header {
  width: 100%;
  position: absolute;
  top: 6rem;
}

@media (max-width: 1279px) {
  .header {
    top: 3rem;
  }
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .logo .logo__title {
  color: #F1CDB3;
  font-family: Georgia, serif;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.header .logo .logo__subtitle {
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.9rem 0 0 0.45rem;
  letter-spacing: 0.13rem;
}

.header__burger {
  display: none;
}

@media (max-width: 767px) {
  .header__burger {
    padding: 0;
    display: block;
    position: absolute;
    top: 2rem;
    right: 5.3rem;
    width: 3rem;
    height: 2.2rem;
    z-index: 99;
    background: transparent;
    border: none;
    outline: none;
    -webkit-transition: .2s;
    transition: .2s;
  }
}

.header__burger .header__burger_icon {
  display: block;
  width: 100%;
  height: 0.2rem;
  background: #F1CDB3;
  padding: 0;
}

.header__burger .header__burger_icon::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 0.2rem;
  background: #F1CDB3;
  border: 1px solid transparent;
}

.header__burger .header__burger_icon::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 0.2rem;
  background: #F1CDB3;
}

.header__burger-active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: .2s;
  transition: .2s;
}

.header .menu {
  width: 44.3rem;
}

@media (max-width: 767px) {
  .header .menu {
    display: none;
    position: absolute;
    top: 0;
    z-index: 99;
  }
}

.header .menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header .menu .menu__link {
  display: block;
  color: #CDCDCD;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.2rem;
}

.header .menu .menu__link:hover {
  color: #FFFFFF;
}

.header .menu .menu__link-active,
.header .menu .menu__link:active,
.header .menu .menu__link:focus {
  color: #FFFFFF;
  border-bottom: 0.3rem solid #F1CDB3;
}
/*# sourceMappingURL=header.css.map */