@import "../constants.scss", "../mixins.scss", "../clear.scss";

.header {
  width: 100%;
  position: absolute;
  top: 6rem;

  @media (max-width: 1279px) {
    top: 3rem;
  }
  
  .wrapper {
    @include flex($content: space-between);
  }

  .logo {
    display: flex;
    flex-direction: column;
    
    .logo__title {
      @include caption($color: $primary, $fz: 3.2rem);
      letter-spacing: 0.2rem;
    }
    .logo__subtitle {
      @include text($color: $light, $fz: 1.3rem);
      padding: 0.9rem 0 0 0.45rem;
      letter-spacing: 0.13rem;
    }
  }

  &__burger {
    display: none;

    @media (max-width: 767px) {
      padding: 0;
      display: block;
      position: absolute;
      top: 2rem;
      right: 5.3rem;
      width: 3rem;
      height: 2.2rem;
      z-index: 99;
      background: transparent;
      border: none;
      outline: none;
    }
    .header__burger_icon {
      display: block;
      width: 100%;
      height: 0.2rem;
      background: $primary;
      padding: 0;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 0.2rem;
        background: $primary;
        border: 1px solid transparent;
        transition: transform .2s ease-in, top .2s linear .2s;
      }
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 0.2rem;
        background: $primary;
        transition: transform .2s ease-in, top .2s linear .2s;
      }
    }
  }

  .menu {
    width: 44.3rem;
    
    @media (max-width: 767px) {
      display: none;
      position: absolute;
      top: 0;
      // right: -200%;
      z-index: 99;
    }

    .menu__list {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .menu__link {
      display: block;
      @include text($color: $dark-s, $fz: 1.5rem);
      line-height: 2.2rem;
  
      &:hover {
        color: $light;
      }
    }
    .menu__link-active,
    .menu__link:active,
    .menu__link:focus {
      color: $light;
      border-bottom: 0.3rem solid $primary;
    }
  }

}
