.blackout {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background: rgba(41, 41, 41, 0.6);
  -webkit-transform: .2s;
          transform: .2s;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body, ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.noscroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  position: absolute;
  top: 6rem;
}

@media (max-width: 1279px) {
  .header {
    top: 3rem;
  }
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .logo .logo__title {
  color: #F1CDB3;
  font-family: Georgia, serif;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.header .logo .logo__subtitle {
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.9rem 0 0 0.45rem;
  letter-spacing: 0.13rem;
}

.header .logo-active {
  position: absolute;
  top: 0;
  right: 12.4rem;
  z-index: 99;
}

.header__burger {
  display: none;
}

@media (max-width: 767px) {
  .header__burger {
    padding: 0;
    display: block;
    position: absolute;
    top: 2rem;
    right: 5.3rem;
    width: 3rem;
    height: 2.2rem;
    z-index: 99;
    background: transparent;
    border: none;
    outline: none;
    -webkit-transition: .2s;
    transition: .2s;
  }
}

.header__burger .header__burger_icon {
  display: block;
  width: 100%;
  height: 0.2rem;
  background: #F1CDB3;
  padding: 0;
}

.header__burger .header__burger_icon::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 0.2rem;
  background: #F1CDB3;
  border: 1px solid transparent;
}

.header__burger .header__burger_icon::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 0.2rem;
  background: #F1CDB3;
}

.header__burger-active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: .2s;
  transition: .2s;
}

.header .menu {
  width: 44.3rem;
}

@media (max-width: 767px) {
  .header .menu {
    display: none;
    width: 32rem;
    height: 82.3rem;
    position: absolute;
    top: -3rem;
    right: 0;
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
    background: #292929;
    padding: 25rem 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    z-index: 98;
  }
}

.header .menu .logo {
  display: none;
}

@media (max-width: 767px) {
  .header .menu .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 3rem;
    left: 1rem;
  }
}

.header .menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 767px) {
  .header .menu .menu__list {
    width: 32rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .header .menu .menu__item {
    margin-bottom: 4rem;
  }
}

.header .menu .menu__link {
  display: block;
  color: #CDCDCD;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.2rem;
}

.header .menu .menu__link:hover {
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .header .menu .menu__link {
    font-size: 3.2rem;
    line-height: 5.12rem;
  }
}

.header .menu .menu__link-active {
  color: #FFFFFF;
  border-bottom: 0.3rem solid #F1CDB3;
}

.header .menu-display {
  display: block;
}

.header .menu-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/*# sourceMappingURL=header.css.map */