@import "../../assets/components/constants.scss", "../../assets/components/mixins.scss", "../../assets/components/clear.scss";

.wrapper {
  max-width: 128rem;
  padding: 0 4rem;
  margin: 0 auto;
}

@import "../../assets/components/header/header.scss";

.header {
  @include main-block($max-height: 12rem, $bg: $light);
  padding: 3rem 0;
  position: sticky;
  top: 0; 

  .logo {
    .logo__title {
      color: $dark-l;
    }
    .logo__subtitle {
      color: $dark;
    }
  }
  .menu {
    .menu__link {
      color: $dark-l;
    
      &:hover {
        color: $dark;
      }
    }
    .menu__link-active,
    .menu__link:active,
    .menu__link:focus {
      color: $dark;
    }
  }
}

.pets {
  @include main-block($max-height: 134.2rem, $bg: $light-l);

  .wrapper {
    padding: 8.2rem 0 10rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__caption {
    max-width: 40rem;
    @include caption($color: $dark-l, $fz: 3.5rem);
    text-align: center;
    line-height: 4.4rem;
    letter-spacing: 0.21rem;
    
    span {
      display: block;
    }
  }

  
}


@import "../../assets/components/footer/footer.scss";
